# Gitignore for Shane E


/*
!public_html
public_html/samedreamasyou

!.gitignore
!.gitkeep


public_html/media
public_html/.media


# General Ignored Stuffs
error_logs
error_log
php.ini
Thumbs.db
.DS_Store
.rbenv-version
.rvmrc