@import "n.reset.less"; // Norton Framework RESET File

/* Site Colors */
@green1: 	#73d1b7;
@black1: 	#1e1d1e;
@white1: 	#FFFFFF;
@blue1:		#4c4b74;


/* Primary Styles for Shane E Website */
html {overflow:hidden;}
body { 
	background-color:@green1; 
	color:@white1; 
			transition	: 	all .2s;
	-webkit-transition	:	all .2s;
}

/* Tree of Work */
#tree {}
#tree .branch {position:relative; display:block; }

#treeWork {}

.thumb {
	position:absolute; 
	width: 44px; 
	height:44px; 
	border-radius: 20px; 
	background-color: @blue1;
				transition	: 	all .1s .05s;
	-webkit-transition	:	all .1s .05s;
}


#tree .t1 {}
